html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

.submit-button {
	height: 83px;
}

.overflow {
	text-overflow: ellipsis;
}

.table{
	table-layout:fixed;
	word-wrap:break-word;
}

.team-member-header{
	margin-top: 3.8px;
	margin-bottom: 10px;
}